
body{
	background-color:#16c5;
	position: relative;
}
.container {
	margin-top:50%;
    width: 60%;
    height:auto;
    margin: auto;
    background-color:#FF9800;
    box-shadow:2px 2px 6px blue;
    border-radius:5%;
}

#input{
	width:50vw;
	height:70px;
	font-size:40px;
}

h1{	
	display: inline;
	align-content: right;
	color:#072f5f;
	background-color:white;
	box-shadow: 2px 2px 6px red;
}

.button{
	width:150px;
	height:73px;
	font-size:25px;
	color:gray;
	background-color:skyblue;
	border:none;
}
i{
	text-align: right;
	color:blue;
	float:right;
}

div{
	align-content:center;
}
ol{
	align-self: center;
}
li{
	width:80%;
	height:50px;
	background-color:yellow;
	color:red;
	list-style: none;
	text-align: left;
	margin-bottom: 3px;
	font-size: 40px;

}

div {
	text-align: center;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}


li .over {
  border: 2px dashed #000;
}